---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between items-end">
      <Link href="/" underline={false}>
        <div class="flex items-end">
          <img src="/avatar.svg" alt="Logo" class="w-10 h-10" />
          <div class="font-bold font-ui">
            MOKA.
          </div>
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work">
          work
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
